<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta name="description" content="{{ description or site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/style.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=DotGothic16&family=Inconsolata:wght@200..900&family=Jersey+10&family=Tiny5&display=swap" rel="stylesheet">    

    <link rel="icon" type="image/png" href="/assets/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/assets/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/assets/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="suli.network" />
    <link rel="manifest" href="/site.webmanifest" />

</head>

    <body>
          {% include "partials/nav.html" %}
            <main>
                {{ content }}
            </main>
          {% include "partials/footer.html" %}
    </body>

</html>
