---
layout: layouts/base_layout.html
title: SULI.network
---
<div id="desktop-area">
    <div id="desktop-icon-grid">
        <a href="/blog">
        <div class="desktop-icon">
            <div class="desktop-icon-img">
                <img src="/assets/rubber-duck-icon-still.png"
                onmouseover="this.src='/assets/rubber-duck-icon.gif'"
                onmouseout="this.src='/assets/rubber-duck-icon-still.png'" ></i>
            </div>
            <p class="system-text">Blog</p>
        </div>
        </a>

        <a href="/projects">
        <div class="desktop-icon">
            <div class="desktop-icon-img">
                <img src="/assets/rubber-duck-icon-still.png"
                onmouseover="this.src='/assets/rubber-duck-icon.gif'"
                onmouseout="this.src='/assets/rubber-duck-icon-still.png'"></i>
            </div>
            <p class="system-text">Projects</p>
        </div>
        </a>

        <a href="/about">
        <div class="desktop-icon">
            <div class="desktop-icon-img">
                <img src="/assets/rubber-duck-icon-still.png"
                onmouseover="this.src='/assets/rubber-duck-icon.gif'"
                onmouseout="this.src='/assets/rubber-duck-icon-still.png'"></i>
            </div>
            <p class="system-text">About</p>
        </div>
        </a>

    </div>

    {% assign latestPost = collections.post | first %}

    {% capture latestBlogContent %}
      <h1 style="font-size: 24px;">{{ latestPost.data.title }}</h1>
        <p class="subtext"> 
        <time datetime="{{ latestPost.date }}">
            {{ latestPost.date | date: "%b %d, %Y" }}
        </time>
        </p>
      <p>{{ latestPost.templateContent }}</p>
      <a href="/blog"> More Blogs. </a>
    {% endcapture %}


    {% include "components/window.liquid" %}
    {% include "components/window.liquid", window-title: "Latest Blog", content: latestBlogContent %}

</div>
