<nav>
    <div class="tabs">
         <a href="/"id="home-tab" class="tab subtext">
            <img id="suli-logo-nav" height=100% src="/assets/SULI_primary_black.svg"></i>
           .network 
        </a>
        <a href="/blog" class="tab subtext">
             blog 
        </a>
        <a href="/projects" class="tab subtext">
             projects 
        </a>
        <a href="/about" class="tab subtext">
             about 
        </a>
    </div>

    <div id="user-tab" class="subtext">
        user
    </div>
</nav>